@font-face {
  font-family: 'montserrat-black';
  src: url("../fonts/montserrat/Montserrat-Black.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'montserrat-bold';
  src: url("../fonts/montserrat/Montserrat-Bold.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'montserrat-extrabold';
  src: url("../fonts/montserrat/Montserrat-ExtraBold.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'montserrat-light';
  src: url("../fonts/montserrat/Montserrat-Light.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'montserrat-extralight';
  src: url("../fonts/montserrat/Montserrat-ExtraLight.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'montserrat-medium';
  src: url("../fonts/montserrat/Montserrat-Medium.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'montserrat-regular';
  src: url("../fonts/montserrat/Montserrat-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'montserrat-semibold';
  src: url("../fonts/montserrat/Montserrat-SemiBold.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'montserrat-thin';
  src: url("../fonts/montserrat/Montserrat-Thin.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'montserratalternates-black';
  src: url("../fonts/montserrat/MontserratAlternates-Black.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'montserratalternates-bold';
  src: url("../fonts/montserrat/MontserratAlternates-Bold.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'montserratalternates-extrabold';
  src: url("../fonts/montserrat/MontserratAlternates-ExtraBold.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'montserratalternates-light';
  src: url("../fonts/montserrat/MontserratAlternates-Light.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'montserratalternates-extralight';
  src: url("../fonts/montserrat/MontserratAlternates-ExtraLight.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'montserratalternates-medium';
  src: url("../fonts/montserrat/MontserratAlternates-Medium.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'montserratalternates-regular';
  src: url("../fonts/montserrat/MontserratAlternates-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'montserratalternates-semibold';
  src: url("../fonts/montserrat/MontserratAlternates-SemiBold.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'montserratalternates-thin';
  src: url("../fonts/montserrat/MontserratAlternates-Thin.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}